<div class="col-md-6 col-md-offset-3">
  <h1>Horário de Estudo do(a) aluno(a): {{student.id}} </h1>

  <ul>
    <li *ngFor="let weekday of studyWeek.studyDays">
      <p class="weekday"> {{weekday.getDayName()}} </p>
      <ul>
        <li *ngFor="let studyHour of weekday.studyHours">
          {{studyHour.description}}
          {{studyHour.formattedDateTimeInfo()}}
          Duration: {{studyHour.durationInMinutes()}} minutes
          <span *ngIf="!studyHour.isStarted()">
            <p> Por começar </p>
          </span>
          <span *ngIf="studyHour.isStarted() && !studyHour.isComplete()">
            <p> A decorrer </p>
          </span>
          <span *ngIf="studyHour.isComplete()">
            <p> Completo </p>
          </span>
        </li>
      </ul>
    </li>
  </ul>

  <a class="ui fluid large teal submit button" (click)="newStudyHour()">Adicionar Nova Hora</a>
</div>
