<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">Login</h2>
    <form class="ui large form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="ui stacked segment">
        <div class="field" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" [(ngModel)]="model.email" #username="ngModel" required />
          </div>
          <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="field" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
          </div>
          <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div>
          <button [disabled]="loading" class="ui fluid large teal submit button">Login</button>
        </div>
      </div>
    </form>
    <div class="ui message">
      <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
  </div>
</div>
